.slider{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 800px){
        max-width: 100% !important;
        width: 100% !important;
    }
}

.slider-container{
    @media screen and (max-width: 800px){
        max-width: 100% !important;
        width: 95% !important;
    }
}

.image-slider{
    max-width: 100%;
    width: 100%;
    border-radius: 30px;
}

.container-arrow{
    justify-content: center;
    align-items: center;
    display: flex;

    .arrow{
        position: relative;
        z-index: 10;
        cursor: pointer;
        user-select: none;

        svg{
            max-width: 100%;
            width: 25px;

            @media screen and (max-width: 800px){
                width: 35px;
            }
        }
    }
}

.slide{
    opacity: 0;
    transition-duration: 2s;
}

.active{
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1);
}